<footer>
<div class="container-fluid bg-primary">
    <div  class="row p-2">
        <div  class="col-4 text-white m-5">
            <h4>About</h4>
            <p class=""> Fotografia makes sharing easy with its smooth interface, which is very easy to get used to once you spend
                time to learn its ways. However, . You can share images, videos, GIFs, and pretty much anything else you
                can think of, in the form of a post</p>
        </div>
        <div class="col-8 text-center text-white">
        </div>
    </div>
    <div id="lower" class="text-white">
        <p>Copyright &copy; 2021 <img src="../../../assets/logo.png" width="44px" alt="logo"> All Rights Reserved.</p>
    </div>
</div>
<lib-toastify-toast-container></lib-toastify-toast-container>


</footer>